@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    display: flex;
    align-items: center;;
    height: 40px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.material-icons-outlined {
    margin-right: 5px;
}

.topnav-container {
    width: 100vw;
    height: 60px;
    background-color: bisque;
    background-color: lightcyan;
    font-size: 48px;
    padding-left: 20px;
}

.topnav-container .material-icons-outlined {
    font-size: 48px;
}

.sidebar-container {
    display: block;
    box-sizing: border-box;
    position: fixed;
    width: 200px;
    height: calc(100vh - 90px);
    background-color: cornflowerblue;
    z-index: 1;
    overflow-x: hidden;
    padding: 10px 10px;
}

.sidebar-container button {
    width: 100%;
    margin: 10px auto;
    font-size: 1em;
    padding-left: 10px;
    background: lightblue;
}

.sidebar-container button:hover {
    background-color: lightcyan;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 200px);
    height: calc(100vh - 80px);
    margin-left: 200px;
    background-color: skyblue;
    padding: 20px;
}

.main-header {
    display: flex;
    align-items: center;
    margin: 5px;
    font-size: 24px;
}

.main-header button {
    width: auto;
    margin-left: auto;
    font-size: 0.8em;
    padding: 0 10px;
    background: lightcoral;
}

.main-header button:hover {
    background-color: tomato;
}

.add-task-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.4);
    z-index: 2;
}

.add-task-container {
    display: none;
    position: fixed;
    top: 10%;
    left: 40%;
    width: 30vw;
    padding: 20px;
    border-radius: 8px;
    background-color: lightsteelblue;
    font-size: 18px;
    z-index: 3;
}

.add-task-container input {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    margin: 10px 0;
    font-size: 18px;
    outline: none;
}

.add-task-container textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    margin: 10px 0;
    font-size: 18px;
    resize: none;
    outline: none;
}

.add-task-container button {
    width: 150px;
    margin: 10px auto;
    font-size: 1em;
    padding-left: 10px;
    background: lightseagreen;
}

.add-task-container button:hover {
    background-color: lightgreen;
}

.show-div {
    display: block;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    background-color: lightcyan;
    padding: 8px 25px;
    transition-duration: 0.4s;
    border-radius: 8px;
    user-select: none;
}

.task:hover {
    background-color: lightyellow;
}

.task-completed {
    background-color: lightsalmon;
}

.line-through {
    text-decoration: line-through;
}

.task-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-left i {
    margin-right: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 30px;
    background-color: yellowgreen;
    background-color: lightcyan;
}